
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.6/css/dataTables.tailwindcss.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script> 
</head>
<style>
    #assetsTable_filter {
        text-align: right;
        margin: 10px;
    }
    #assetsTable_filter label {
        color: white;
        font-size: 1rem; 
    }
    #assetsTable_filter label input {
        color: white;
        font-size: 1rem; 
        margin-left: 5px;
    }
    #assetsTable_filter input {
        background-color: #1f2937; /* Light background */
        border: 1px solid white; /* Tailwind blue border */
        border-radius: 5px; /* Rounded corners */
        padding: 5px; /* Padding for input */
        color: white; /* Text color */
        font-size: 1rem; /* Adjust font size */
    }
</style>
<body>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table id = "assetsTable" class="display w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs uppercase bg-gray-800 text-white">
                <tr>
                    <th scope="col" class="px-6 py-5">
                        MC Rank
                    </th>
                    <th scope="col" class="px-6 py-5">
                        Asset
                    </th>
                    <th scope="col" class="px-6 py-5">
                        Ticker
                    </th>
                    <th scope="col" class="px-6 py-5">
                        Price
                    </th>       
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(asset) { %>
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                            <%= asset.rank %>
                        </th>
                        <td class="px-6 py-4 text-white">
                            <%= asset.name %>
                        </td>
                        <td class="px-6 py-4 text-white">
                            <%= asset.symbol %>
                        </td>
                        <td class="px-6 py-4 text-white">
                            <% if (asset.priceUsd >= 1.00) { %>
                                <%= parseFloat(asset.priceUsd).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '$' %>
                            <% } else if (asset.priceUsd >= 0.01) { %>
                                <%= parseFloat(asset.priceUsd).toFixed(4) + '$' %>
                            <% } else { %>
                                <%= parseFloat(asset.priceUsd).toFixed(6) + '$' %>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready( function () {
            $('#assetsTable').DataTable(
                {
                    paging: false
                }
            );
          });
    </script>
</body>